In [9]:
!pip3 install pandas
!pip3 install matplotlib
!pip3 install numpy
!pip3 install seaborn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: pandas in /usr/local/lib/python3.8/site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.8/site-packages (from pandas) (1.19.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.8/site-packages (from pandas) (2020.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/site-packages (3.3.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/site-packages (from matplotlib) (1.19.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/site-packages (1.19.4)
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/site-packages (0.11.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/site-packages (from seaborn) (1.1.5)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.8/site-packages (from seaborn) (3.3.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/site-packages (from seaborn) (1.19.4)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.8/site-packages (from seaborn) (1.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.15.0)

In [5]:
mobile_specs = pd.read_csv('mobile_price_1.csv', index_col='id')

In [11]:
mobile_specs.head()

,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,bluetooth,gen,cores,speed,sim,f_camera,camera,memory,screen,wifi,price
id,,,,,,,,,,,,,,,,,,,,
0,842,0.6,188,20,756,2549,9,7,19,No,2,dual,medium,Single,1.0,2.0,7568,LCD,g,751.64
1,1021,0.7,136,905,1988,2631,17,3,7,Yes,4,triple,low,Dual,NaN,6.0,53759,Touch,none,885.17
2,563,0.9,145,1263,1716,2603,11,2,9,Yes,4,penta,low,Dual,2.0,6.0,41140,Touch,none,1067.78
3,615,0.8,131,1216,1786,2769,16,8,11,Yes,3,hexa,high,Single,NaN,9.0,10558,LCD,none,819.22
4,1821,0.6,141,1208,1212,1411,8,2,15,Yes,4,dual,medium,Single,13.0,14.0,44436,Touch,none,1023.13

In [34]:
res_list=list()
dpi_list=list()
ratio_list=list()
for index, row in mobile_specs.iterrows():
    tmp_res = str(row["px_width"])+' X '+str(row["px_height"])
    res_list.append(tmp_res)

In [35]:
mobile_specs["resolution"]=res_list
mobile_specs[["resolution","px_height","px_width"]]

       resolution  px_height  px_width
id
0        756 X 20         20       756
1      1988 X 905        905      1988
2     1716 X 1263       1263      1716
3     1786 X 1216       1216      1786
4     1212 X 1208       1208      1212
...           ...        ...       ...
1995  1890 X 1222       1222      1890
1996   1965 X 915        915      1965
1997   1632 X 868        868      1632
1998    670 X 336        336       670
1999    754 X 483        483       754

[2000 rows x 3 columns]